/* div {
    text-align: center;
    justify-content: center;
    width: 85%;
    margin: 0%;
    max-width: 1320px;
    background: #FFF;
    
    ;
} */
* {

    margin-left: 0px;
    margin-right: 0px;
    max-width: 1320;
}

.banner {
    width: 1320px;
    height: 600px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-blend-mode: darken;
    /* 131.944% */
    background-image: url("../images/Banner\ Image.png"), url("../images/opacity.png");
}

.banner>h3 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
}

.banner>h1 {
    color: #FFF;

    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */
    width: 632px;
}

.banner-text {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 120px;
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-heading {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-content: center;
    align-items: center;

}

.banner-heading>h2 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
    align-items: center;
}

.banner-heading>img {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    padding-top: 151px;
}

.midnight {
    background-image: url("../images/Vectorrr.png"), url("../images/opacity.png");
    background-blend-mode: darken;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    padding-top: 0px;


}

.midnight>h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
    padding: 126px 552px 298px 126px;
}

.midnight>p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    padding: 326px 497px 214px 126px;
}
.container{
    background-color: fill: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    stylefill: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

.container-text {
    text-align: center;
    justify-content: center;
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    
}